- currently_at @page.slug

=raw @page.content_for(:body)

#upper_page_content.row
  %section#carousel_content.ten.columns.alpha
    .carousel
      - if @carousel.present?
        = image_tag @carousel.photo.image.url, :alt => "Carousel image not found."
      - else
        = image_tag 'oma_placeholder.png', :alt => "Carousel image not found."
  %section#pie_content.six.columns.omega
    = raw @page.content_for(:pie)
    %canvas#chart{:height => '300px'}= render '/shared/pieChart'

    /= render '/shared/label-test'

#lower_page_content.row
  .one-third.column.alpha#welcome_content= raw @page.content_for(:welcome)
  .one-third.column#news_content= raw @page.content_for(:news)
  .one-third.column.omega#studies_content= raw @page.content_for(:studies)
