- currently_at @page.slug

=raw @page.content_for(:body)
.container
  .sixteen.columns
    #upper_page_content.row
      .ten.columns.alpha
        %section#carousel_content
          .carousel
            - if @carousel.present?
              = image_tag @carousel.photo.image.url, :width => 580, :alt => "Carousel image"
            - else
              = image_tag 'oma_placeholder.png', :width => 580, :alt => "Carousel image"
      .six.columns.omega
        %section#pie_content
          = raw @page.content_for(:pie)
          -# if ["home", "buy", "know", "plan" ].include?(@page.slug)
          %canvas#chart{:height => '300px'}= render '/shared/pieChart'

    #lower_page_content.row
      .five.columns.alpha#welcome_content= raw @page.content_for(:welcome)
      .six.columns#news_content= raw @page.content_for(:news)
      .five.columns.omega#studies_content= raw @page.content_for(:studies)
