%footer#page_footer

  .left
    = image_tag("zenith.gif", :alt => "Sample App")

  .right
    = image_tag("oma_logo.png", :alt => "Sample App")

  .center
    %ul
      %li= link_to 'Home', ""
      %li= link_to 'About Move', ""
      %li= link_to 'How to Use Move', ""
      %li= link_to 'Contact OMA', ""
      %li= link_to 'FAQs', ""
      %li= link_to 'News', ""

    .oma_footer_text
      %p="© 2007-12 MOVE Pty Ltd"
      %p= "Outdoor Marketing Association"

