.container
  %footer.sixteen.columns#page_footer
    %nav#left_logo
      = link_to( image_tag("OMA_logo.png", :size=>'38x84', :alt => "OMA"),'http://www.oma.org.au')
    %nav#right_logo
      /= link_to( image_tag("OMA_logo.png", :size=>'38x84', :alt => "OMA"),'http://www.oma.org.au')

    %ul
      %li= link_to 'Home', "home"
      %li= link_to 'About OMA', 'http://www.oma.org.au', :target => "_blank" 
      %li= link_to 'Presenting MOVE', "presenting-move"
      %li= link_to 'How to Use MOVE', "Know"
      %li= link_to 'Contact OMA', "http://www.oma.org.au/about-us/contact-us"
      %li= link_to 'FAQs', "FAQs"
      %li= link_to 'Privacy', "Privacy"
      %li= link_to 'Legal', "legal-policy"
   
    %ul
      %li= "© 2007-2013 Move Pty Ltd"

    %ul
      %li= "Portions of this website were created using the free web resources available at www.elated.com and are copyright Elated Communications Ltd 1996-2012"
