%footer#page_footer

  .left
    = image_tag("OMA_logo.png", :size=>'38x84', :alt => "OMA")

  .right
    = image_tag("OMA_logo.png", :size=>'38x84', :alt => "OMA")

  .center
    %ul
      %li= link_to 'Home', ""
      %li= link_to 'About Move', ""
      %li= link_to 'How to Use Move', ""
      %li= link_to 'Contact OMA', ""
      %li= link_to 'FAQs', ""
      %li= link_to 'News', ""
 
    %ul
      %li= link_to 'Site Map', ""
      %li= link_to 'Privacy', ""
      %li= link_to 'Legal', ""

    .oma_footer_text
      %p="© 2007-12 MOVE Pty Ltd"
      %p= "Outdoor Marketing Association"

= yield :javascript_libraries
= yield :javascripts