%footer#page_footer

  %ul
    %li= link_to( image_tag("OMA_logo.png", :size=>'38x84', :alt => "OMA"), 'http://www.oma.org.au')
    %li= link_to 'Home', ""
    %li= link_to 'About OMA', 'http://www.oma.org.au' 
    %li= link_to 'About Move', "About-Move"
    %li= link_to 'How to Use Move', "How-To-Use-Move"
    %li= link_to 'Contact OMA', "Contact-OMA"
    %li= link_to 'FAQs', "FAQs"
    %li= link_to 'News', "News"
    %li= link_to( image_tag("OMA_logo.png", :size=>'38x84', :alt => "OMA"), 'http://www.oma.org.au')
 
  %ul
    %li= link_to 'Privacy', "Privacy"
    %li= link_to 'Legal', "legal-policy"
 
    %p="© 2007-12 MOVE Pty Ltd"
    %p= "Outdoor Marketing Association"



= yield :javascript_libraries
= yield :javascripts