%header.container#page_header( role = "banner")
  .sixteen.columns
    .row
      .ten.columns.alpha
        #logo
          = link_to 'http://www.oma.org.au' do
            = image_tag("OMA-MOVE_logo.png", size: '200x60', :alt=>"Outdoor Media Association")

      .six.columns.omega
        %nav#utility
          - if current_refinery_user.present?
            You are logged in as 
            = link_to "[#{current_refinery_user.username}]", '#'
            = link_to "[Logout]", '/refinery/logout'
          - else
            You are not logged in.
            = link_to "[Login]", '/refinery/login'

          = link_to 'Search', '/'

        - unless local_assigns[:hide_pie_header]
          %section#pie_content
            = raw @page.content_for(:pie)
            #container
              %canvas#chart{:height => 100}= render 'shared/pieChart'

  .sixteen.columns.alpha.omega
    = yield(:main_navigation)
