%header.container#page_header( role = "banner")
  .sixteen.columns.alpha.omega
    .row
      - unless local_assigns[:hide_pie_header]
        .one-third.column.alpha= render :partial => '/shared/logo'
        .one-third.column= render '/shared/status_bar'
        .one-third.column.omega
          = raw @page.content_for(:pie)
          %canvas#chart= render '/shared/pieChart'
                  
      - else
        .ten.columns.alpha= render :partial => 'shared/logo'
        .six.columns.alpha= render '/shared/status_bar'
    = render_menu 'main'
