.header.container

  - unless local_assigns[:hide_pie_header]
    .one-third.column#logo= render :partial => '/shared/logo'
    .one-third.column
      %canvas#chart{:height => '285px'}= render '/shared/pieChart'
    .one-third.column#statusbar= render '/shared/status_bar'
  -else
    .two-thirds.column#logo= render :partial => '/shared/logo'
    #statusbar.one-third.column= render '/shared/status_bar'

#main_menu.container
  = render_menu 'main'
