.header
  - unless local_assigns[:hide_pie_header]
    .six.columns= render :partial => '/shared/logo'  
    %h6
      .five.columns= render '/shared/status_bar'
    .five.columns
      %canvas#chart= render '/shared/pieChart'

  -else
    .ten.columns= render :partial => '/shared/logo'  
    %h6
      .six.columns= render '/shared/status_bar'

  = render_menu 'main'