%header.container#page_header( role = "banner")
.container
  .six.columns= render :partial => '/shared/logo'  
  - unless local_assigns[:hide_pie_header]
    .five.columns= render '/shared/status_bar'
    .five.columns
      %canvas#chart= render '/shared/pieChart'
  -else
    .five.columns= render '/shared/status_bar'

  = render_menu 'main'