!!! 5

= render  '/refinery/html_tag'

/- site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'

%body
  .container
    = render '/shared/header'

    - if local_assigns[:menu_name].present?
      .four.columns
        = render '/shared/side_menu', :menu_name => local_assigns[:menu_name]
      .twelve.columns{:'data-pjax-container' => true}
        = yield
    - else
      .container
        = yield
	
  = render 'shared/footer'
  = render '/refinery/javascripts'
