.oma_menu_bar
  .span
    = link_to "Home", '#', :method => 'get'
    %button
      Plan
    %button
      = 'Proof'
    %button
      = 'Buy'
    %button
      = '   '
    %button
      = '   '
    %button
      = 'Admin'
    %button
      = 'Move Admin'
  
