%h2
  Things to Ponder
%p= 'Navigation links in footer for SEO?'
%p= "Pie Chart labels don't show beyond edges of two of them."
%p= 'Pie Chart click on slice does not link to target page (soon).'
%p= 'Alignment, particularly to right hand side of sidebar?'
%p= 'Sidebar contents?  Can be anything.'

%h2
  Variations
%p= 'Stuff in here can and probably will be page specific'

%h2
  Navigation
%p= 'from here to there, industry events etc.'