
<% content_for :main_navigation do %> 
  <nav id="main_nav" role="navigation">
    <ul>
      <li><%= link_to 'Home', root_url, current: current_tab %></li> 
      <li><%= link_to 'About Move', root_url, current: current_tab %></li> 
      <li><%= link_to 'How to Use Move', root_url, current: current_tab %></li> 
      <li><%= link_to 'Contact OMA', root_url, current: current_tab %></li> 
      <li><%= link_to 'FAQs', root_url, current: current_tab %></li> 
      <li><%= link_to 'News', root_url, current: current_tab %></li> 
    </ul> 
  </nav>
<% end %>