<!DOCTYPE html>
%html
  %head
    %meta( charset="utf-8" )
    %title OMA Portal Proof of Concept

    = stylesheet_link_tag    "application", "homes", "layout", "sidebar", "pieChart", "normalize"
    = javascript_include_tag "application", "pieChart"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"

    = csrf_meta_tag
    = yield(:head)

  %body

    = render '/shared/header'
    
    .container
    
      %section#content
  
        = yield

      %section#sidebar
        %section#recent_activity
          %header
            %h1.ir#recent_activity 
              Happenings
              = render '/shared/recent_activity'
              

    = render '/shared/footer'