!!!
%html
  %head
    %title OMA Portal

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

    %body
      .oma_header
        =image_tag("image003.jpg", :alt => "Sample App", :class => "round")
        #oma_login_invite
          = @login_message
      %br  

      .oma_welcome_outer_panel
        = render '/shared/menu_bar'

        .div.oma_diagonal_panel
          New!

        .oma_welcome_inner_panel
      
          .oma_welcome_message
            = @welcome_message
          .oma_status_message
            = @login_status_message

      #oma_ipso_laurem_panel
        = render '/shared/ipso_laurem'
      #oma_ipso_laurem_cols_panel
        = render '/shared/ipso_laurem_cols'

      #grid
        this 
        is
        a 
        grid
        with 
        something
        else
        here

    = yield

    = render '/shared/footer'
  
        