<!DOCTYPE html>
%html
  %head
    %meta( charset="utf-8" )
    %title OMA Portal Proof of Concept

    = stylesheet_link_tag    "application", "navigation"
    = javascript_include_tag "application"
    = yield :stylesheets
    = csrf_meta_tag
    = yield(:head)

  %body

    = render 'shared/header'

    .container

      %section#sidebar
        %section#recent_activity
          %header
            %h1.ir#recent_activity 
              = render '/shared/recent_activity'


      %section#content

        = yield

      - unless ['homes-page', "buy", "learn", "plan", "proof"].find_index(@page.slug).nil?
        %canvas#chart( height = '300px')
          = render 'shared/pieChart'

    = render 'shared/footer'
