!!! 5
= render  '/refinery/html_tag'
- site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'

%body
  = render '/know/header'
  = render '/know/sidebar'
  = yield
  = render 'shared/footer'
