!!! 5
= render  '/refinery/html_tag'
- site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'


%body
  = render '/shared/header', :locals => {:show_pie_header => true}

  .container
    .row
      .four.columns.alpha
        = render '/know/sidebar'
      .twelve.columns.omega
        = yield

  = render 'shared/footer'
  = render '/refinery/javascripts'
