<!DOCTYPE html>
%html
  %head
    %meta( charset="utf-8" )
    %title OMA Portal Proof of Concept

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = yield :stylesheets
    = csrf_meta_tag
    = yield(:head)

  %body

    = render 'shared/kpb_header'
    #div
      = yield
    = render 'shared/footer'
